* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(to left,rgba(223, 73, 223, 0.2), rgba(216, 93, 216, 0.2));
    min-height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.container h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#list-container li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#list-container li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(Assets/unchecked_icon.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 10px;
}
#list-container li.checked {
    color: #555;
    text-decoration: line-through;
}
#list-container li.checked::before {
    background-image: url(Assets/checked_icon.png);
}
#list-container li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}
#list-container li span:hover {
    background: #edeef0;
}

