* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background:#F5F5DC;
}
.complete {
    display: flex;
    width: 100%;
}
.side-bar {
    width: 30%;
    flex-direction: column;
    background-color: white;
    width: 40vh;
    height: 100vh;
}
.hero {
    display: flex;
    background-color: orange;
    width: 100%;
    height: 100vh;
}